.nav-acervo {
    padding-top: 16px;
    padding-bottom: 16px;
    border: 1px solid #dbe0e7;


}

.nav-acervo,
.div-acervo {
    .form-control {
        border: 1px solid #ebebeb;
    }

    i {
        fill: #00446b;
    }

    input {
        border: none;
        outline: none;
    }
}

.pagination{
    .page-item .page-link{
        border: 0;
        outline: none;
        border-radius: 8px;
        width: 36px;
        height: 38px;
        color:#036B8A;
        font-weight: 600;
        background-color: transparent;
    }

    .page-item.active .page-link{
        background-color: #E2F3FF;
    }
}

.div-acervo {
    .sidebar {
        background-color: #ffffff;
        border: 1px solid #dbe0e7;
        box-shadow: 0px 4px 64px rgba(0, 78, 141, 0.08);
        min-width: 320px;
    }

    .acervo-main {
        margin: 20px;

        .acervo-titulo{
            aspect-ratio: 5 / 1;
            background-color: #A0C044;
            border-radius: 16px;
            gap: 10px;
            opacity: 0.7;

            font-size: 24px;
            color: white;
            font-weight: 700;

            span{
                font-size: 32px;
                color: #68870F;
            }
        }

        .botao-livro{
            
            img{
                aspect-ratio: 3 / 4;
                object-fit:cover;
                border-radius: 4px;
            }
        }
    }

    .texto-quantidade {
        font-weight: 600;
        font-size: 18px;
    }

    ul {
        list-style-type: none;
        padding: 0;

        button {
            &::after {
                font-family: "bootstrap-icons";
                content: "\F286";
                float: right;
                margin-left: 1em;
                font-size: 12px;
            }

            &.collapsed::after {
                content: "\F282";
            }
        }
    }

    .ul1 button {
        font-size: 20px;
        font-weight: 700;
    }

    .ul2 button {
        font-weight: 600;
        font-size: 20px;
    }

    .ul3 button {
        font-weight: 600;
        font-size: 16px;
    }
}