footer {
    background-color: #00446b;
    padding-top: 42px;
    padding-bottom: 42px;
    color: white;
    font-size: 14px;

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    a {
        color: white;
        text-decoration: none;
    }
}